<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/main.css' %}"
    />
    <title>Main</title>
  </head>
  <body class="body">
    {% include 'navbar.html' %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <p>Hello</p>

    <img src="{% static 'images/melancholy.png' %}" alt="image" />

    {% block content%} {% endblock content%}
  </body>
</html>
