.body {
  background-color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.aboutP {
  color: crimson;
}

img {
  height: 50px;
}

p {
  color: blue;
  font-size: xx-large;
}
